/* styles/Navbar.module.css */
.navbar {
    background-color: #ffebbb; /* Navbar background color */
  }
  
  .nav-link {
    background-color: #ffddaa; /* Button background color */
    color: #000; /* Button text color */
    padding: 0.5rem 1rem; /* Button padding */
    border-radius: 0.25rem; /* Button border radius */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .nav-link:hover {
    background-color: #ffcc99; /* Button hover background color */
    color: #fff; /* Button hover text color */
  }
  